<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.mapper.ProductMapper">
<!--    <resultMap id="loginDao" type="com.example.model.Product">-->
<!--    </resultMap>-->

    <select id="findAllProduct" resultType="product" >
        select *
        from t_product
    </select>

    <select id="findMessageById" resultType="product">
        select *
        from t_product
        where id = #{id}
    </select>

    <select id="findManProduct" resultType="product">
        select *
        from t_product
        where product_category = '男士'
    </select>

    <select id="findWomenProduct" resultType="product">
        select *
        from t_product
        where product_category = '女士'
    </select>

    <select id="findOldManProduct" resultType="product">
        select *
        from t_product
        where product_category = '老人'
    </select>

    <select id="findChildProduct" resultType="product">
        select *
        from t_product
        where product_category = '儿童'
    </select>

    <delete id="deleteProduct">
        delete from t_product
        where id = #{productId}
    </delete>

    <insert id="addProduct" parameterType="product">
        insert into t_product(product_name,product_price,product_description,img_location,product_category)
        values (#{productName},#{productPrice},#{productDescription},#{imgLocation},#{productCategory})
    </insert>

    <update id="updateProduct" parameterType="product">
        update t_product
        set product_name = #{productName},product_price = #{productPrice},product_description = #{productDescription},
            img_location = #{imgLocation},product_category = #{productCategory}
        where id = #{id}
    </update>
</mapper>