<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.mapper.ShoppingCartMapper">
<!--    <resultMap id="loginDao" type="com.example.model.Product">-->
<!--    </resultMap>-->

    <insert id="savaMessageToCart">
        insert into t_cart(product_id,product_spec,product_amount,product_total_price)
        values(#{productId},#{productSpec},#{amount},#{totalPrice})
    </insert>
    
    <select id="findShoppingCartMessage" resultType="shoppingCartDto">
        select *
        from t_cart
    </select>

    <update id="updateDataFromCart">
        update t_cart
        set product_amount = #{productAmount},
            product_total_price = #{totalPrice}
        where id = #{productCartId}
    </update>

    <delete id="deleteByCartId">
        delete from t_cart
        where id = #{productCartId}
    </delete>
</mapper>