<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.mapper.UserMapper">
    <resultMap id="loginDao" type="com.example.model.User">
    </resultMap>
    <insert id="saveRegisterUser" parameterType="user">
        insert into t_user(username,password,phone,create_time)
        values (
            #{username},#{password},#{phone},#{createTime}
        )
    </insert>

    <select id="checkUsername" parameterType="java.lang.String" resultType="user">
        select *
        from t_user
        where username = #{registerUsername}
    </select>

    <select id="queryByLoginUsername" resultType="user">
        select *
        from t_user
        where username = #{loginUsername}
    </select>
</mapper>