<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link href="/css/adminIndex.css" rel="stylesheet">
    <script src="/layui/layui.js"></script>
    <title>商品管理</title>
</head>
<body>  
    <div>
        <div class="div-left-menu-flex">
            <div class="div-left-menu-size">
                <div class="div-left-menu-width div-left-menu-product">
                    <span class="span-left-menu-width">商品管理</span>
                </div>
<!--                <div class="div-left-menu-width div-left-menu-order">-->
<!--                    <span class="span-left-menu-width">订单管理</span>-->
<!--                </div>-->
            </div>
            <div>
                <!-- 右侧内容的框 -->
                <div class="div-right-content-size">
                    <div>
                        <iframe src="http://localhost:8080/admin/adminProduct" width="1200px" height="680px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>