<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/homePage.css">
    <title>首页</title>
</head>

<body>
<ul class="layui-nav layui-bg-cyan">
    <li class="layui-nav-item"><a href="">飞跃商时</a></li>
    <li class="layui-nav-item"><a href="">商品</a></li>
    <li class="layui-nav-item"><a href="">购物车</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">帮助</a></li>
    <li class="layui-nav-item liright" lay-unselect="">
        <a href="javascript:;"><img src="" class="layui-nav-img"></a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">个人中心</a></dd>
            <dd><a href="javascript:;">购物车</a></dd>
            <hr>
            <dd style="text-align: center;"><a href="">退出</a></dd>
        </dl>
    </li>
</ul>
<div class="layui-carousel" id="test1">
    <div carousel-item>
        <div><img src="/images/lunbo1.jpg"></div>
        <div><img src="/images/lunbo2.jpg"></div>
    </div>
</div>
<div class="">
    <div class="layui-tab" lay-filter="docDemoTabBrief" style="margin-left: auto;margin-right: auto;">
        <div class="divfilterflex layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">所有</li>
                <li>男士</li>
                <li>女士</li>
                <li>老人</li>
                <li>儿童</li>
            </ul>
        </div>
        <div class="layui-tab-content divbothsidesdistance">
            <div class="layui-tab-item layui-show">
                <div class="product-display" th:each="allproduct : ${allProductList}">
                    <a th:href="'http://localhost:8080/product/detail?id='+${allproduct.id}"  href="http://localhost:8080/user/login"><img th:src="${allproduct.imgLocation}" alt="图片不见了"></a>
                    <h3 th:text="${allproduct.productName}"></h3>
                    <p th:text="${allproduct.productDescription}"></p>
                    <span th:text="${allproduct.productPrice}"></span>
                    <button>加入购物车</button>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="product-display">
                    <img src="/images/product3.jpg" alt="图片不见了">
                    <h3>商品名称2</h3>
                    <p>商品描述</p>
                    <span>商品价格</span>
                    <button>加入购物车</button>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="product-display">
                    <img src="" alt="图片不见了">
                    <h3>商品名称3</h3>
                    <p>商品描述</p>
                    <span>商品价格</span>
                    <button>加入购物车</button>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="product-display">
                    <img src="" alt="图片不见了">
                    <h3>商品名称4</h3>
                    <p>商品描述</p>
                    <span>商品价格</span>
                    <button>加入购物车</button>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="product-display">
                    <img src="" alt="图片不见了">
                    <h3>商品名称5</h3>
                    <p>商品描述</p>
                    <span>商品价格</span>
                    <button>加入购物车</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <!-- Add a container to center the content -->
    <div class="container">
        <!-- Add some text or links to the footer -->
        <p>Copyright © 2023 Shopping Mall.
            <!-- Add some styling to the footer -->
            <style>
                footer {
                    background-color: #f2f2f2;
                    padding: 20px;
                    box-sizing: border-box;
                    width: 100%;
                    text-align: center;
                }
            </style>
    </div>
</footer>

<script src="/layui/layui.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            , autoplay: true //自动滚动，鼠标移入会暂停、移出重新恢复
            , interval: 2000 //自动切换的时间间隔，单位：ms（毫秒），不能低于 800
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</body>

</html>