<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>登录</title>
    <script type="text/javascript" src="/js/jquery/jquery-3.6.4.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div class="backgroundpic">
    <div class="toplogin">
        <form method="post" action="/user/checkLogin">
            <div>
                <!-- 输入框div -->
                <div>
                    <div>
                        <input class="inputout topdistance" type="text" id="username" name="username" placeholder="请输入用户名"><br>
                    </div>
                    <div>
                        <input class="inputout topandbottomdistance" type="password" id="password" name="password" placeholder="请输入密码"><br>
                    </div>
                    <div class="divcaptcha">
                        <input class="inputcaptcha" name="captcha"><img class="imgdistance" src="/user/captcha" width="130px" height="48px">
                    </div>
                </div>
<!--                验证码错误信息-->
                <div class="divCaptchaError">
                    <span class="spanCaptchaError" id="captchaid" th:text="${checkLoginError}+${captchaError}"></span>
                </div>
                <div class="divbuttonlogin">
                    <button type="submit" class="buttonlogin">登录</button>
                </div>
            </div>
        </form>
        <div class="divregister">
            <a class="aregister" href="">没有账号？立即注册</a>
        </div>
    </div>
</div>
</body>
</html>