<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/commonTop.css">
    <link rel="stylesheet" type="text/css" href="/css/commonBottomBar.css">
    <link rel="stylesheet" type="text/css" href="/css/personalCentert.css">
    <title>个人中心</title>
</head>

<body>
<!-- 公共顶部导航栏 -->
<ul class="layui-nav layui-bg-cyan">
    <li class="layui-nav-item"><a href="">飞跃商时</a></li>
    <li class="layui-nav-item"><a href="">商品</a></li>
    <li class="layui-nav-item"><a href="">购物车</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">帮助</a></li>
    <li class="layui-nav-item liright" lay-unselect="">
        <a href="javascript:;"><img src="" class="layui-nav-img"></a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">个人中心</a></dd>
            <dd><a href="javascript:;">购物车</a></dd>
            <hr>
            <dd style="text-align: center;"><a href="">退出</a></dd>
        </dl>
    </li>
</ul>
<!-- 中间内容区域 -->
<div class="mid-content-size">
    <!-- 首先在顶部设置一个区域显示当前的的位置 -->
    <div class="div-title-distance-top-wht div-content-left">
        <div>个人中心</div>
        <div><span class="span-jiange">/</span></div>
        <div>我的订单</div>
    </div>
    <!-- 内容 -->
    <div class="div-only-flex">

        <!-- 目录 -->
        <div class="div-left-title-size">
            <!-- 头像与用户名区域 -->
            <div class="div-username-img-head-pic-size">
                <div class="">
                    <img class="div-head-pic-size" src="" alt="图片不见了">
                </div>
                <div>用户名</div>
            </div>
            <!-- 下方标题内容 -->
            <hr class="hr-left-title">
            <div>
                <div>个人信息</div>
                <div>我的订单</div>
            </div>
        </div>

        <!-- 目录对应的内容 -->
        <div class="div-bottom-right-content-size">

        </div>
    </div>
</div>

<!-- 公共底部栏 -->
<footer>
    <!-- Add a container to center the content -->
    <div id="myDiv" class="container">
        <!-- Add some text or links to the footer -->
        <p>Copyright © 2023 Shopping Mall.
    </div>
</footer>

<script src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-3.6.4.js"></script>
<script src="/js/commonbottom.js"></script>
</body>

</html>