<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/commonTop.css">
    <link rel="stylesheet" type="text/css" href="/css/commonBottomBar.css">
    <link rel="stylesheet" type="text/css" href="/css/personalCentert.css">
    <title>个人中心</title>
</head>

<body>
<!-- 公共顶部导航栏 -->
<ul class="layui-nav layui-bg-cyan">
    <li class="layui-nav-item"><a href="">飞跃商时</a></li>
    <li class="layui-nav-item"><a href="">商品</a></li>
    <li class="layui-nav-item"><a href="">购物车</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">帮助</a></li>
    <li class="layui-nav-item liright" lay-unselect="">
        <a href="javascript:;"><img src="/images/headSculpture/default.jpg" class="layui-nav-img"></a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">个人中心</a></dd>
            <dd><a href="javascript:;">购物车</a></dd>
            <hr>
            <dd style="text-align: center;"><a href="">退出</a></dd>
        </dl>
    </li>
</ul>
<!-- 中间内容区域 -->
<div class="mid-content-size">
    <!-- 首先在顶部设置一个区域显示当前的的位置 -->
    <div class="div-title-distance-top-wht div-content-left">
        <div>个人中心</div>
        <div><span class="span-jiange">/</span></div>
        <div>我的订单</div>
    </div>
    <!-- 内容 -->
    <div class="div-only-flex">

        <!-- 目录 -->
        <div class="div-left-title-size">
            <!-- 头像与用户名区域 -->
            <div class="div-username-img-head-pic-size">
                <div class="">
                    <img class="div-head-pic-size" src="/images/headSculpture/default.jpg" alt="图片不见了">
                </div>
                <div class="div-content-mid">
                    <span>用户名</span>
                </div>
            </div>
            <!-- 下方标题内容 -->
            <hr class="hr-left-title">
            <div>
                <div class="div-content-mid div-span-title-bottom-distance">
                    <span>个人信息</span>
                </div>
                <div class="div-content-mid div-span-title-bottom-distance">
                    <span>我的订单</span>
                </div>
            </div>
        </div>

        <!-- 目录对应的内容 -->
        <div class="div-bottom-right-content-size">
            <div class="div-right-center-content">
                <div>
                    <span class="span-myorder-title-style">我的订单</span>
                </div>
                <div class="div-chose-order-top-bottom-distance">
                    <span>全部订单</span>
                    <span class="span-margin-left-distance">待支付</span>
                    <span class="span-margin-left-distance">待收货</span>
                    <span class="span-margin-left-distance">已关闭</span>
                </div>

                <!-- 订单内容 -->
                <div class="order__content">
                    <div class="div-order-message-size" th:each="orderDto:${allMessageList}">
                        <div>订单状态（待支付、待收货、已收货、已取消）</div>
                        <div>
                            <span th:text="${orderDto.orderTime}"></span>
                            <span>收件人</span>
                            <span th:text="'订单号：'+${orderDto.orderNumber}"></span>
                        </div>
                        <hr>
                        <!-- 订单内商品信息 -->
                        <div class="div-order-product-message-size div-only-flex"
                             th:each="shoppingCartDto:${orderDto.shoppingCartDtoList}">
                            <img th:src="${shoppingCartDto.product.imgLocation}" alt="图片不见了">
                            <div class="div-product-name-left div-flex-chuizhi-mid">
                                <div>
                                    <p th:text="${shoppingCartDto.product.productName}"></p>
                                    <p th:text="'￥'+${shoppingCartDto.product.productPrice}+'&nbsp&nbsp*&nbsp&nbsp'+${shoppingCartDto.productAmount}"></p>
                                </div>
                            </div>
                            <div>
                                <span>立即支付/确认收货/交易完成</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 分页内容-->
                <div class="div__page">
                    <div id="div__page"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 公共底部栏 -->
<footer>
    <!-- Add a container to center the content -->
    <div class="container">
        <!-- Add some text or links to the footer -->
        <p>Copyright © 2023 Shopping Mall.
    </div>
</footer>

<script type="text/javascript" src="/js/jquery/jquery-3.6.4.js"></script>
<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/js/personalCenter.js"></script>
<script th:inline="javascript">
    const allMessageList = [[${allMessageList}]];
    let pageTotal = [[${pageTotal}]];
    let pageNum = [[${pageNum}]];
    let pageSize = [[${pageSize}]];
    console.log("allMessageList----------------"+[[${allMessageList}]].length);
    console.log("[[${pageTotal}]]--------------"+[[${pageTotal}]]);
</script>
</body>

</html>